body{
    background: rgb(235, 235, 235);
}

.foto-principal{
    width: 300px;

    border: 2px solid rgb(103, 103, 103); /* shorthand */
    border-radius: 50%;

    margin: 30px 30px 30px 30px;
    /*
    margin-top: 10px;
    margin-bottom: 50px
    margin-lef: 40px; */
  

  
}


p{
    color: rgb(43, 43, 43);
}